<form class="row">
  <div class="col-12 col-sm-5">
    <mat-form-field appearance="outline">
      <mat-label>Watchlist name</mat-label>
      <input matInput [(ngModel)]="watchlist.label" name="label">
    </mat-form-field>
  </div>
  <div class="col-12">
    <h2 class="mat-text-primary text-center">Set Field and Filter criteria</h2>
  </div>
  <div class="col-12">
    <div class="overflow-auto w-100 table-wrapper">
      <table mat-table [dataSource]="dataSource" class="w-100 border">

        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal font-size-5"> Field
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="outline" class="mat-form-field-padding-top">
              <mat-select [(value)]="watchlist.ruleSet[i].fieldType" [compareWith]="compareByFieldLabel">
                <mat-optgroup *ngFor="let group of fieldGroup" [label]="group.label">
                  <mat-option *ngFor="let field of group.fields" [value]="field">
                    {{field.label}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="condition">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal font-size-5"> Condition
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="outline" class="mat-form-field-padding-top">
              <mat-select [(value)]="watchlist.ruleSet[i].condition">
                <mat-option *ngFor="let condition of watchlist.ruleSet[i].fieldType.conditions" [value]="condition">
                  {{condition}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="input">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal font-size-5"> Input
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="outline" class="mat-form-field-padding-top"
              *ngIf="watchlist.ruleSet[i].fieldType?.conditions[0] === 'IN'">
              <mat-select [(value)]="watchlist.ruleSet[i].input" multiple>
                <mat-option *ngFor="let input of watchlist.ruleSet[i].fieldType.inputs" [value]="input">
                  {{input}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field-padding-top"
              *ngIf="watchlist.ruleSet[i].fieldType?.conditions[0] === 'TOP'">
              <input matInput [(ngModel)]="watchlist.ruleSet[i].input[0]" name="input-{{i}}">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal font-size-5"> Actions
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <button (click)="deleteRule(i)" mat-icon-button>
              <mat-icon class="pl-3">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="mat-color-primary border"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="col-12 mt-3">
    <button (click)="addNewRule()" mat-button color="primary">CREATE A NEW RULE</button>
  </div>
  <div class="col-12 d-flex justify-content-around my-3">
    <a (click)="updateWatchlist()" routerLink="/dashboard" mat-raised-button color="accent"
      class="a-in-mat-button">BACK</a>
    <button (click)="goToLogic()" mat-raised-button color="primary">NEXT</button>
  </div>
</form>
