<form class="row">
  <div class="col-12 col-sm-5">
    <mat-form-field appearance="outline">
      <mat-label>Compliance rules name</mat-label>
      <input matInput [(ngModel)]="compliance.label" name="label">
    </mat-form-field>
  </div>
  <div class="col-12">
    <h2 class="mat-text-primary text-center">Set compliance rules</h2>
  </div>
  <div class="col-12">
    <div class="overflow-auto w-100 table-wrapper">
      <table mat-table [dataSource]="dataSource" cdkDropList [cdkDropListData]="compliance.complianceRules"
        (cdkDropListDropped)="drop($event)" class="w-100 border table-striped">

        <ng-container matColumnDef="drag">
          <th mat-header-cell *matHeaderCellDef
            class="text-center text-white font-weight-normal rubik font-size-6 pr-3 pl-2">
            <span class="d-flex align-items-center justify-content-center">
              <mat-icon>height</mat-icon> Order
            </span>
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border mat-cell-no-padding">
            <p cdkDragHandle class="min-width-xs pt-2">{{i + 1}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Group
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top max-width-l">
              <mat-select [(value)]="compliance.complianceRules[i].group" (change)="updateSelectableWatchlists()">
                <mat-option *ngFor="let group of groups" [value]="group.label">
                  {{group.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="complianceRule">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Rule
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top">
              <mat-select [(value)]="compliance.complianceRules[i].rule" [compareWith]="compareByWatchlistLabel">
                <mat-option *ngFor="let watchlist of watchlistsByGroup[i]?.watchlists" [value]="watchlist">
                  {{watchlist.label}}
                </mat-option>
                <mat-option (click)="addNewWatchlistRule(i)" [value]="compliance.complianceRules[i].rule">
                  <button mat-button color="primary" class="w-100 h-100">NEW
                    RULE</button>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="aggregation">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Aggregate
            by
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top">
              <mat-select [(value)]="compliance.complianceRules[i].aggregation" [compareWith]="compareByFieldLabel">
                <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType">
                  {{fieldType.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="operator">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Operator
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top max-width-sm">
              <mat-select [(value)]="compliance.complianceRules[i].operator">
                <mat-option *ngFor="let operator of operators" [value]="operator">
                  {{operator}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="condition">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Condition
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top max-width-sm">
              <mat-select [(value)]="compliance.complianceRules[i].condition">
                <mat-option *ngFor="let condition of fieldTypes[0].conditions" [value]="condition">
                  {{condition}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="warning">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Warning
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top max-width-sm">
              <input matInput maxlength="3" [(ngModel)]="compliance.complianceRules[i].warning" name="warning-{{i}}">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="breach">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Breach
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <mat-form-field appearance="legacy" class="mat-form-field-padding-top max-width-sm">
              <input matInput maxlength="3" [(ngModel)]="compliance.complianceRules[i].breach" name="breach-{{i}}">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="regulationThreshold">
          <th mat-header-cell *matHeaderCellDef class="text-center text-white font-weight-normal rubik font-size-6">
            Threshold
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border min-width-md">
            <p class="pt-2">{{compliance.complianceRules[i].regulationThreshold}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef
            class="text-center text-white font-weight-normal rubik font-size-6 px-2">
            Actions
          </th>
          <td mat-cell *matCellDef="let rule; let i = index" class="text-center border">
            <button (click)="deleteRule(i)" mat-icon-button>
              <mat-icon class="padding-left-2-5">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-color-primary border"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDragLockAxis="y" cdkDrag [cdkDragData]="row">
        </tr>
      </table>
    </div>
  </div>
  <div class="col-12 mt-3">
    <button (click)="addNewComplianceRule()" mat-button color="primary">CREATE A NEW RULE</button>
  </div>
  <div class="col-12 d-flex justify-content-around my-3">
    <a (click)="updateCompliance()" routerLink="/dashboard" mat-raised-button color="accent"
      class="a-in-mat-button">BACK</a>
    <button (click)="saveOrOpenDialog()" mat-raised-button color="primary">SAVE</button>
  </div>
