<form class="row">
  <div class="col">
    <div class="row">
      <div class="col-12 col-sm-5">
        <mat-form-field appearance="fill">
          <mat-label>Watchlist name</mat-label>
          <input matInput [(ngModel)]="watchlist.label" name="label">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="mat-text-primary">Drag rules to set And/Or functionality</p>
        <div class="d-flex flex-column justify-content-center h-100">
          <mat-selection-list [multiple]="false" id="ruleSet" cdkDropList [cdkDropListData]="watchlist.ruleSet"
            (cdkDropListDropped)="drop($event)" #ruleSet="cdkDropList" [cdkDropListConnectedTo]="listContainerRules">
            <mat-list-option *ngFor="let rule of watchlist.ruleSet" cdkDrag>
              {{rule.field}} {{rule.condition}} {{rule.input}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <p>Satisfy</p>
        <div>
          <ng-container *ngTemplateOutlet="recursiveContainerTmpl; context: { container: watchlist.mainContainer }">
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-around">
        <button mat-raised-button color="accent">Edit rules</button>
        <button mat-raised-button color="primary">Save</button>
      </div>
    </div>
  </div>
</form>

<ng-template #recursiveContainerTmpl let-container="container" let-parent="parent">
  <div class="border rounded mb-3 mx-3">
    <div class="d-flex justify-content-between">
      <mat-form-field appearance="fill">
        <mat-select name="containerType" [(ngModel)]="container.type">
          <mat-option value="AND">AND</mat-option>
          <mat-option value="OR">OR</mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="parent != null" (click)="deleteContainer(parent, container)" mat-icon-button class="ml-auto">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <mat-selection-list id="containerRules-{{container.currentInstance}}" cdkDropList
        [cdkDropListData]="container.rules" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="getListContainerConnected(container)" [multiple]="false">
        <p *ngIf="container.rules.length <= 0" class="ml-3 text-muted">
          Drop rules here...
        </p>
        <mat-list-option *ngFor="let rule of container.rules" cdkDrag>
          {{rule.field}} {{rule.condition}} {{rule.input}}
        </mat-list-option>
      </mat-selection-list>
      <ng-container *ngIf="container?.containers?.length > 0">
        <div *ngFor="let containerChild of container?.containers">
          <ng-container
            *ngTemplateOutlet="recursiveContainerTmpl; context: { container: containerChild, parent: container}">
          </ng-container>
        </div>
      </ng-container>
      <div class="d-flex">
        <button (click)="addContainer(container)" mat-icon-button class="ml-auto">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<div>
  <pre>
    {{watchlist | json}}
  </pre>
</div>
